<a href="https://colab.research.google.com/github/sohamrattan9/Marketing-Analytics/blob/main/Retail_store.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

First, use the following code to upload your file:

In [2]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving A 3 retail_store_data.xlsx to A 3 retail_store_data (1).xlsx
User uploaded file "A 3 retail_store_data (1).xlsx" with length 14471 bytes

Once the file is uploaded, you can read it into a pandas DataFrame like this:

In [3]:
import pandas as pd

file_name = next(iter(uploaded))
df = pd.read_excel(file_name)

# Display all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
display(df)

,Customer_ID,Age,Gender,Store_Location,Product_Category,Total_Purchase_Value,Visits_Per_Month,Customer_Satisfaction_Score,Used_Discount_Code,Returned_Products_Count,Churned,Unnamed: 11,Unnamed: 12
0,1,56,Male,Suburban,Home & Living,4982.63,4,3,Yes,1,1,NaN,NaN
1,2,69,Male,Suburban,Home & Living,5285.90,3,4,Yes,2,0,NaN,q
2,3,46,Male,Rural,Electronics,5910.46,1,2,Yes,0,0,NaN,why have some customers churned even after giv...
3,4,32,Male,Suburban,Clothing,4476.65,5,5,No,1,0,NaN,NaN
4,5,60,Male,Rural,Electronics,5909.19,2,2,No,2,0,NaN,NaN
5,6,25,Female,Urban,Home & Living,2083.66,4,1,No,0,0,NaN,NaN
6,7,38,Male,Rural,Clothing,5504.60,3,1,Yes,1,0,NaN,NaN
7,8,56,Female,Suburban,Home & Living,5075.94,3,4,No,0,0,NaN,NaN
8,9,36,Female,Urban,Electronics,4673.81,2,3,No,3,1,NaN,NaN
9,10,40,Female,Urban,Electronics,4287.11,5,4,No,2,0,NaN,NaN
10,11,28,Male,Urban,Home & Living,4085.94,2,4,Yes,0,1,NaN,NaN
11,12,28,Male,Rural,Grocery,3779.72,3,4,Yes,1,1,NaN,NaN
12,13,41,Male,Suburban,Grocery,1522.90,4,4,Yes,1,0,NaN,NaN
13,14,53,Male,Urban,Electronics,4597.97,8,5,No,0,1,NaN,NaN
14,15,57,Female,Urban,Electronics,6644.49,3,5,No,0,0,NaN,NaN
15,16,41,Male,Urban,Grocery,4496.88,4,2,No,0,1,NaN,NaN
16,17,20,Male,Rural,Grocery,5952.67,5,1,Yes,1,0,NaN,NaN
17,18,39,Male,Rural,Home & Living,3379.70,3,4,Yes,1,0,NaN,NaN
18,19,19,Male,Suburban,Home & Living,3041.45,3,2,No,2,0,NaN,NaN
19,20,41,Male,Rural,Grocery,3873.86,5,1,Yes,1,1,NaN,NaN
20,21,61,Female,Urban,Home & Living,3461.75,1,3,Yes,0,0,NaN,NaN
21,22,47,Male,Suburban,Home & Living,3225.44,5,5,Yes,1,0,NaN,NaN
22,23,55,Female,Urban,Clothing,5674.66,0,1,Yes,0,1,NaN,NaN
23,24,19,Male,Urban,Home & Living,7668.39,4,3,No,1,0,NaN,NaN
24,25,38,Female,Rural,Electronics,3999.58,1,1,Yes,1,0,NaN,NaN
25,26,50,Male,Suburban,Home & Living,2462.27,7,5,Yes,4,0,NaN,NaN
26,27,29,Male,Rural,Home & Living,5985.20,1,5,Yes,1,0,NaN,NaN
27,28,39,Female,Rural,Grocery,2846.15,2,2,Yes,1,0,NaN,NaN
28,29,61,Female,Suburban,Electronics,3225.10,2,4,No,1,1,NaN,NaN
29,30,42,Female,Urban,Home & Living,5742.49,2,1,No,3,0,NaN,NaN
30,31,66,Male,Urban,Home & Living,4752.04,0,1,Yes,1,0,NaN,NaN
31,32,44,Female,Suburban,Clothing,3969.24,3,3,Yes,0,0,NaN,NaN
32,33,59,Male,Urban,Home & Living,5102.53,1,5,Yes,0,1,NaN,NaN
33,34,45,Male,Suburban,Home & Living,4385.89,4,1,Yes,1,1,NaN,NaN
34,35,33,Female,Suburban,Clothing,7834.32,3,5,Yes,1,0,NaN,NaN
35,36,32,Female,Rural,Grocery,3986.29,5,1,Yes,0,1,NaN,NaN
36,37,64,Male,Suburban,Home & Living,3629.88,2,2,No,0,0,NaN,NaN
37,38,68,Male,Rural,Clothing,4317.45,0,4,Yes,0,0,NaN,NaN
38,39,61,Female,Urban,Electronics,4380.86,1,1,No,1,0,NaN,NaN
39,40,69,Female,Urban,Grocery,5893.47,2,5,No,0,1,NaN,NaN
40,41,20,Female,Urban,Electronics,2012.69,6,2,Yes,0,0,NaN,NaN
41,42,54,Male,Urban,Electronics,5639.04,2,1,No,4,0,NaN,NaN
42,43,68,Male,Rural,Clothing,4188.07,3,3,No,0,0,NaN,NaN
43,44,24,Male,Urban,Home & Living,6165.23,1,4,No,3,0,NaN,NaN
44,45,38,Male,Suburban,Clothing,4928.53,4,1,No,4,0,NaN,NaN
45,46,26,Male,Suburban,Clothing,5778.04,3,2,No,1,0,NaN,NaN
46,47,56,Male,Suburban,Clothing,4412.90,6,3,No,1,0,NaN,NaN
47,48,35,Female,Rural,Clothing,5657.03,4,2,Yes,2,0,NaN,NaN
48,49,21,Male,Urban,Grocery,7495.65,4,2,No,1,0,NaN,NaN
49,50,42,Male,Urban,Home & Living,3891.15,6,3,No,0,0,NaN,NaN
50,51,31,Male,Urban,Electronics,4839.21,0,2,No,1,0,NaN,NaN
51,52,67,Female,Rural,Electronics,4270.67,2,3,Yes,0,0,NaN,NaN
52,53,26,Male,Suburban,Home & Living,7389.47,3,1,No,1,0,NaN,NaN
53,54,43,Male,Suburban,Electronics,4349.09,3,3,Yes,1,0,NaN,NaN
54,55,19,Female,Urban,Home & Living,3900.96,6,3,No,1,0,NaN,NaN
55,56,37,Male,Suburban,Electronics,4132.58,3,4,Yes,2,0,NaN,NaN
56,57,45,Male,Suburban,Clothing,4796.42,4,3,Yes,1,0,NaN,NaN
57,58,64,Male,Rural,Electronics,3809.74,2,3,No,2,0,NaN,NaN
58,59,24,Male,Rural,Home & Living,4447.33,3,1,No,1,0,NaN,NaN
59,60,61,Male,Rural,Home & Living,5235.80,1,4,Yes,2,0,NaN,NaN
60,61,25,Female,Rural,Home & Living,4826.79,2,5,No,2,0,NaN,NaN
61,62,64,Female,Urban,Home & Living,6247.56,5,1,Yes,1,0,NaN,NaN
62,63,52,Female,Rural,Home & Living,4520.97,1,1,Yes,2,0,NaN,NaN
63,64,31,Male,Suburban,Grocery,4693.08,1,5,Yes,0,1,NaN,NaN
64,65,34,Male,Urban,Grocery,5406.59,3,3,Yes,1,0,NaN,NaN
65,66,53,Male,Suburban,Electronics,8367.21,3,2,Yes,0,0,NaN,NaN
66,67,67,Female,Suburban,Home & Living,3818.60,4,4,No,0,0,NaN,NaN
67,68,57,Male,Suburban,Electronics,7885.44,2,2,Yes,0,0,NaN,NaN
68,69,21,Male,Rural,Home & Living,3224.64,4,5,Yes,0,0,NaN,NaN
69,70,19,Female,Rural,Home & Living,5343.46,5,1,No,0,0,NaN,NaN
70,71,23,Male,Urban,Grocery,4490.92,4,1,Yes,1,1,NaN,NaN
71,72,59,Female,Urban,Grocery,3777.09,1,4,No,0,1,NaN,NaN
72,73,21,Female,Rural,Clothing,6048.64,2,1,No,1,0,NaN,NaN
73,74,46,Female,Suburban,Grocery,5899.84,3,1,No,0,0,NaN,NaN
74,75,35,Male,Urban,Clothing,4278.13,1,4,Yes,2,0,NaN,NaN
75,76,43,Male,Rural,Clothing,1859.31,0,4,Yes,1,0,NaN,NaN
76,77,61,Male,Rural,Clothing,4369.93,5,5,Yes,2,0,NaN,NaN
77,78,51,Male,Rural,Clothing,5208.81,7,1,No,0,0,NaN,NaN
78,79,27,Male,Suburban,Clothing,5002.72,3,1,Yes,1,0,NaN,NaN
79,80,53,Male,Rural,Electronics,6133.90,4,5,No,0,0,NaN,NaN
80,81,31,Male,Rural,Grocery,7900.31,4,3,Yes,1,0,NaN,NaN
81,82,48,Female,Rural,Clothing,5620.81,3,3,No,2,0,NaN,NaN
82,83,65,Male,Rural,Home & Living,5851.65,2,3,Yes,3,0,NaN,NaN
83,84,32,Female,Urban,Grocery,5222.27,0,5,Yes,3,0,NaN,NaN
84,85,25,Male,Urban,Grocery,6758.65,2,1,Yes,1,0,NaN,NaN
85,86,31,Male,Rural,Clothing,5797.10,4,5,No,0,1,NaN,NaN
86,87,40,Male,Suburban,Electronics,6123.66,5,5,No,1,0,NaN,NaN
87,88,57,Female,Urban,Clothing,7713.44,0,3,Yes,0,1,NaN,NaN
88,89,38,Female,Rural,Electronics,5340.48,6,2,Yes,1,0,NaN,NaN
89,90,33,Female,Urban,Home & Living,4593.56,5,1,No,4,0,NaN,NaN
90,91,62,Female,Urban,Grocery,5669.43,6,3,No,1,0,NaN,NaN
91,92,35,Male,Suburban,Home & Living,6704.36,2,2,No,1,0,NaN,NaN
92,93,64,Female,Rural,Electronics,5752.14,3,2,Yes,1,0,NaN,NaN
93,94,41,Male,Rural,Electronics,6590.96,4,4,No,3,0,NaN,NaN
94,95,43,Male,Suburban,Home & Living,3996.54,6,1,Yes,1,0,NaN,NaN
95,96,42,Female,Suburban,Electronics,3697.87,4,2,No,2,1,NaN,NaN
96,97,62,Female,Rural,Home & Living,4182.44,4,3,Yes,1,1,NaN,NaN
97,98,58,Female,Rural,Grocery,3098.93,4,4,No,1,0,NaN,NaN
98,99,46,Female,Suburban,Home & Living,5165.45,6,1,No,1,0,NaN,NaN
99,100,32,Female,Urban,Grocery,4354.96,2,5,No,0,1,NaN,NaN

In [5]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [9]:
x = df[["Customer_Satisfaction_Score","Visits_Per_Month", "Total_Purchase_Value"]]
y = df["Churned"]

In [10]:
display(x.head())
display(y.head())

   Customer_Satisfaction_Score  Visits_Per_Month  Total_Purchase_Value
0                            3                 4               4982.63
1                            4                 3               5285.90
2                            2                 1               5910.46
3                            5                 5               4476.65
4                            2                 2               5909.19

0    1
1    0
2    0
3    0
4    0
Name: Churned, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Split the data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# Initialize and train the Linear Regression model
model = LinearRegression()
model.fit(x_train, y_train)

# Make predictions on the test set
y_pred = model.predict(x_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 0.23303575627260215
R-squared: -0.10969407748858195

In [12]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Initialize and train the Logistic Regression model
logistic_model = LogisticRegression(random_state=42)
logistic_model.fit(x_train, y_train)

# Make predictions on the test set
y_pred_logistic = logistic_model.predict(x_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred_logistic)
conf_matrix = confusion_matrix(y_test, y_pred_logistic)
class_report = classification_report(y_test, y_pred_logistic)

print(f"Accuracy: {accuracy}")
print(f"Confusion Matrix:\n{conf_matrix}")
print(f"Classification Report:\n{class_report}")

Accuracy: 0.7
Confusion Matrix:
[[14  0]
 [ 6  0]]
Classification Report:
              precision    recall  f1-score   support

           0       0.70      1.00      0.82        14
           1       0.00      0.00      0.00         6

    accuracy                           0.70        20
   macro avg       0.35      0.50      0.41        20
weighted avg       0.49      0.70      0.58        20

/usr/local/lib/python3.11/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/usr/local/lib/python3.11/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/usr/local/lib/python3.11/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))